/* add home page styles here */

a{
    display: flex;
    flex-direction: column;
    color: white;
    padding:5px;
    
}

#quest-link{
    display: flex;
    flex-direction: column;

}

body{
    background-image: url('../assets/map.png');
    background-repeat: no-repeat;
}